.Contact {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.Contact__content {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.Contact__content__left {
  width: 60%;
  margin: 0 0.5rem;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Contact__content__right {
  width: 40%;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Contact__content__right__ele {
  width: 80%;
}
.Contact__content__left__image {
  width: 40rem;
  border-radius: 10px;
}
.Contact__content__right__ele__input {
  border-color: #ddd;
}
.Contact__content__right__ele_buttonPanel {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.CssTextField {
  width: 100%;
}

.Contact__Cancel {
  border: 1px solid red;
  color: red;
}

/*-------------- Responsive Design ------------------- */
/*-------------- MOBILE ------------------- */
@media screen and (max-width: 450px) {
  .Contact__content {
    flex-direction: column;
    align-items: center;
  }
  .Contact__content__left,
  .Contact__content__right {
    width: 95%;
    height: 40vh;
  }
  .Contact__content__right {
    margin-bottom: 2rem;
    height: 50vh;
  }
  .Contact__content__left__image {
    width: 20rem;
    border-radius: 10px;
  }
}

/*-------------- TABLET ------------------- */
@media screen and (max-width: 850px) and (min-width: 450px) {
  .Contact__content {
    flex-direction: column;
    align-items: center;
  }
  .Contact__content__left,
  .Contact__content__right {
    width: 95%;
    height: 70vh;
  }
  .Contact__content__right {
    margin: 2rem;
    height: 70vh;
  }
  .Contact__content__left__image {
    width: 30rem;
    border-radius: 10px;
  }
}
