.Login {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 90%;
}
.Login__content {
  display: flex;
  flex-direction: row;
}
.Login__content__left {
  width: 60%;
  margin: 0 0.5rem;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Login__content__right {
  /* background-color: blue; */
  width: 40%;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Login__content__right__ele {
  width: 60%;
  margin: 1rem;
}
.Login__content__left__image {
  height: 500px;
  border-radius: 10px;
}
.Login__content__right__ele__input {
  border-color: #ddd;
}
.Login__content__right__ele_buttonPanel {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.CssTextField {
  width: 100%;
}
