.Footer {
  width: 100%;
  min-height: 20vh;
  border: 1px solid grey;
  border-radius: 5px;
}
.Footer__column {
  /* background-color: green; */
  box-shadow: 10px 10px 1 blue;
}
.Footer__copyright {
  font-size: x-small;
  color: #ddd;
}
.Footer__column__link:hover {
  cursor: pointer;
}
