.Home {
  width: 100%;
  min-height: 95vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home__image {
  width: 100%;
  height: 90vh;
}
.Home__7dayTitle {
  margin-top: 2rem;
}
